Identity_Server.Infrastructure/obj/Debug/net7.0/Identity_Server.Infrastructure.GlobalUsings.g.cs
Identity_Server.Infrastructure/obj/Debug/net7.0/Identity_Server.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Identity_Server.Infrastructure/obj/Debug/net7.0/Identity_Server.Infrastructure.assets.cache
Identity Server/obj/Identity Server.csproj.nuget.dgspec.json
Identity Server/.vs/Identity Server/FileContentIndex/4691b6f1-e267-4e39-bcb5-6d63a7ea88bf.vsidx
Identity Server/.vs/Identity Server/v17/.suo
Identity Server/obj/Identity Server.csproj.nuget.dgspec.json
Identity Server/.vs/Identity Server/v17/.suo
Identity Server/obj/Identity Server.csproj.nuget.dgspec.json
Identity Server/obj/Identity Server.csproj.nuget.dgspec.json
Identity Server/obj/Identity Server.csproj.nuget.g.props
Identity_Server.Infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Identity_Server.Infrastructure/obj/Debug/net7.0/Identity_Server.Infrastructure.AssemblyInfo.cs
Identity_Server.Infrastructure/obj/project.assets.json
Identity_Server.Infrastructure/obj/Identity_Server.Infrastructure.csproj.nuget.g.targets
Identity_Server.Infrastructure/obj/Identity_Server.Infrastructure.csproj.nuget.g.props
Identity_Server.Infrastructure/obj/Identity_Server.Infrastructure.csproj.nuget.dgspec.json
Identity_Server.Domain/obj/Debug/net7.0/Identity_Server.Domain.GlobalUsings.g.cs
Identity_Server.Domain/obj/Debug/net7.0/Identity_Server.Domain.GeneratedMSBuildEditorConfig.editorconfig
Identity_Server.Domain/obj/Debug/net7.0/Identity_Server.Domain.assets.cache
Identity_Server.Domain/obj/Debug/net7.0/Identity_Server.Domain.AssemblyInfoInputs.cache
Identity_Server.Domain/obj/Debug/net7.0/Identity_Server.Domain.AssemblyInfo.cs
Identity_Server.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Identity_Server.Domain/obj/project.nuget.cache
Identity_Server.Domain/obj/project.assets.json
Identity_Server.Domain/obj/Identity_Server.Domain.csproj.nuget.g.targets
Identity_Server.Domain/obj/Identity_Server.Domain.csproj.nuget.g.props
Identity_Server.Domain/obj/Identity_Server.Domain.csproj.nuget.dgspec.json
Identity_Server.Application/obj/Debug/net7.0/Identity_Server.Application.GlobalUsings.g.cs
Identity_Server.Application/obj/Debug/net7.0/Identity_Server.Application.GeneratedMSBuildEditorConfig.editorconfig
Identity_Server.Application/obj/Debug/net7.0/Identity_Server.Application.assets.cache
Identity_Server.Application/obj/Debug/net7.0/Identity_Server.Application.AssemblyInfoInputs.cache
Identity_Server.Application/obj/Debug/net7.0/Identity_Server.Application.AssemblyInfo.cs
Identity_Server.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Identity_Server.Application/obj/project.nuget.cache
Identity_Server.Application/obj/project.assets.json
Identity_Server.Application/obj/Identity_Server.Application.csproj.nuget.g.targets
Identity_Server.Application/obj/Identity_Server.Application.csproj.nuget.g.props
Identity_Server.Application/obj/Identity_Server.Application.csproj.nuget.dgspec.json
Identity Server/obj/Debug/net7.0/Identity Server.GeneratedMSBuildEditorConfig.editorconfig
Identity Server/obj/Debug/net7.0/Identity Server.csproj.AssemblyReference.cache
Identity Server/obj/Debug/net7.0/Identity Server.assets.cache
Identity Server/obj/Debug/net7.0/Identity Server.AssemblyInfoInputs.cache
Identity Server/obj/Debug/net7.0/Identity Server.AssemblyInfo.cs
Identity Server/obj/project.nuget.cache
Identity Server/obj/project.assets.json
Identity Server/obj/Identity Server.csproj.nuget.g.props
Identity Server/obj/Identity Server.csproj.nuget.dgspec.json
Identity Server/.vs/Identity Server/v17/.suo
Identity_Server.Infrastructure/obj/Debug/net7.0/Identity_Server.Infrastructure.AssemblyInfoInputs.cache
Identity_Server.Infrastructure/obj/project.nuget.cache
Identity Server/obj/Debug/net7.0/Identity Server.GeneratedMSBuildEditorConfig.editorconfig
Identity Server/obj/Debug/net7.0/Identity Server.csproj.AssemblyReference.cache
Identity Server/obj/Debug/net7.0/Identity Server.assets.cache
Identity Server/obj/Debug/net7.0/Identity Server.AssemblyInfoInputs.cache
Identity Server/obj/project.nuget.cache
Identity Server/obj/project.assets.json
Identity Server/obj/Identity Server.csproj.nuget.g.props
Identity Server/obj/Identity Server.csproj.nuget.dgspec.json
Identity Server/.vs/Identity Server/v17/.suo
